<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow">

    {% block title %}
    
    {% endblock %}
 
    </head>
    <body class="d-flex flex-column h-100">
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="spinner">
          <div class="spinner-container">
            <div class="spinner-rotator">
              <div class="spinner-left">
                <div class="spinner-circle"></div>
              </div>
              <div class="spinner-right">
                <div class="spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- preloader end -->
        

    <!-- ========================= header start ========================= -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                  <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/logo/logo.svg') }}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                                </button>
                                
                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <div class="ms-auto">
                                        <ul id="nav" class="navbar-nav ms-auto">
                                            <li class="nav-item">
                                                <a class="page-scroll active" href="/">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="page-scroll" href="/daily/">Daily Quotes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="" href="/dynamic/">Dynamic Quotes</a>
                                            </li>
                                        </ul>
                                    </div>
                </div>
                               
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header end ========================= -->



              {% block content %}
              {% endblock %}

    <!-- ========================= footer start ========================= -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="footer-widget">
                            <div class="logo">
                                <a href="index.html"> <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/logo/logo.svg') }}" alt=""> </a>
                            </div>
                        </div>
                    </div>
                 
                   
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <p>Design and Developed By <a href="https://uideck.com/" rel="nofollow" target="_blank">UIdeck</a></p>
                </div>
            </div>
        </footer>
        <!-- ========================= footer end ========================= -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <script defer src="{{ url_for('static', path='/vendor/loadCSS/src/loadCSS.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/jquery-3.6.0.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/bootstrap-4.6.2-dist/js/bootstrap.bundle.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/jquery-ui-1.13.2.custom/jquery-ui.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/js/wow.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/js/polyfill.js') }}"></script>
    <script defer src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/js/main.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/main.js') }}"></script>

    {% block scripts %}
    {% endblock %}
        </section>
    </main>
    </body>
</html>

 
