{% extends "shared/base.html" %}

{% block title %}
  <title>Get Daily Quotes</title>
{% endblock %}

{% block content %}


    <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
      <div class="hero-wrapper">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-10">
              <div class="hero-content">
                         
                 <div class="row">
        <div class="col-xl-4 col-lg-4">
            <select id="multiselect" multiple="multiple"></select>
        </div>
        <div class="col-xl-4 col-lg-4">
        <input type="text" id="datepicker" />
</div>
        <div class="col-xl-4 col-lg-4">
        <button id="get_daily_quote" class="main-btn btn-hover" type="button">Get Daily</button>
        </div>
    </div>

              </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 offset-md-1 offset-lg-1 offset-xxl-1">
              <div class="hero-image text-center text-lg-start">
                <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/about/about-image.svg') }}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= hero-section end ========================= -->






{% include "components/daily_result.html" %}


{% endblock %}


{% block scripts %}
    <script defer src="{{ url_for('static', path='/js/tableExport.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/jspdf.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/jspdf.plugin.autotable.js') }}"></script>
    
    <script defer src="{{ url_for('static', path='/vendor/bootstrap-table-master/dist/bootstrap-table.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/bootstrap-table-export.min.js') }}"></script>
{% endblock %}