{% extends "shared/base.html" %}

{% block title %}
  <title>Foreign Currency Market Lib by Ilia Nikitin</title>
{% endblock %}

{% block content %}

    <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
      <div class="hero-wrapper">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10">
              <div class="hero-content">
                <h1>{{settings.PROJECT_NAME}}</h1>
                <h3>Version: {{settings.PROJECT_VERSION}}</h3>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 offset-xxl-1">
              <div class="hero-image text-center text-lg-start">
                <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/hero/hero-image.svg') }}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= hero-section end ========================= -->





    <section id="features" class="feature-section">
<div class="feature-wrapper">
<div class="container">
<div class="row justify-content-center">
<div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11">
<div class="section-title text-center mb-60">
<h2>Modern design <br class="d-block"> with Essential Features</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="single-feature-wrapper">
<div class="single-feature">
<div class="feature-icon color-1">
<i class="lni lni-display"></i>
</div>
<div class="feature-content">
<h4>Fast API</h4>
<p>FastAPI is a modern, fast (high-performance), web framework for building APIs with Python 3.6+ based on standard Python type hints.</p>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-feature-wrapper">
<div class="single-feature">
<div class="feature-icon color-2">
<i class="lni lni-thumbs-up"></i>
</div>
<div class="feature-content">
<h4>Jinja2 Templates</h4>
<p>Jinja2 is a full-featured template engine for Python.</p>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-feature-wrapper">
<div class="single-feature">
<div class="feature-icon color-3">
<i class="lni lni-package"></i>
</div>
<div class="feature-content">
<h4>jQuery</h4>
<p>jQuery is a fast, small, and feature-rich JavaScript library. </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<!-- ========================= about-section start ========================= -->
    <section id="about" class="about-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-last order-lg-first">
            <div class="about-image text-center text-lg-end">
              <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/about/about-image.svg') }}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-10">
            <div class="about-content-wrapper">
              <div class="section-title">
                <h2 class="mb-20">Daily Quotes</h2>
                <p class="mb-30"></p>
                <a href="/daily/" class="main-btn btn-hover">Get!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= about-section end ========================= -->


    <!-- ========================= about-section start ========================= -->
    <section class="about-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-last order-lg-first">
              <div class="about-image text-center text-lg-end">
              <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/feature/feature-image.svg') }}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-10">

<div class="about-content-wrapper">
              <div class="section-title">
                <h2 class="mb-20">Dynamic Quotes</h2>
                <p class="mb-30"></p>
                <a href="/dynamic/" class="main-btn btn-hover">Get!</a>
              </div>
            </div>
            
           
           
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= about-section end ========================= -->

  





{% endblock %}