


<section id="features" class="feature-section">
<div class="feature-wrapper">
<div class="container">
<div class="row justify-content-center">
<div class="col-xxl-10 col-xl-7 col-lg-8 col-md-11">

</div>
</div>


<div id="result">
    <table id="table" class="table d-none" data-show-export="true">
        <thead>
            <tr>
                <th data-field="CharCode">Code</th>
                <th data-field="Name">Name</th>
                <th data-field="Value">Value</th>
                <th data-field="Date">Date</th>
                <th data-field="Nominal">Nominal</th>
            </tr>
        </thead>
    </table>
</div>



</div>
</div>
</section>