<section id="features" class="feature-section">
    <div class="feature-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-10 col-xl-7 col-lg-8 col-md-11"></div>
            </div>

            <div id="result">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
