{% extends "shared/base.html" %}

{% block title %}
  <title>Get Dynamic Quotes</title>
{% endblock %}

{% block content %}

   <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
      <div class="hero-wrapper">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-10">
              <div class="hero-content">
                         
                 <div class="row">
        <div class="col-xl-4 col-lg-4">
            <select id="multiselect" ></select>
        </div>

        <div class="col-xl-4 col-lg-4">

<input type="text" id="from" name="from">
</div>
<div class="col-xl-4 col-lg-4">

<input type="text" id="to" name="to">
</div>

      
    </div>

      <div class="mt-3">
        <button id="get_dynamic_quote" class="main-btn btn-hover" type="button">Get Dynamic</button>
        </div>

              </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 offset-md-1 offset-lg-1 offset-xxl-1">
              <div class="hero-image text-center text-lg-start">
                <img src="{{ url_for('static', path='/vendor/gradient-free-theme/assets/images/feature/feature-image.svg') }}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ========================= hero-section end ========================= -->



{% include "components/dynamic_result.html" %}

{% endblock %}


{% block scripts %}
<script defer src="{{ url_for('static', path='/js/chart.min.js') }}"></script>
{% endblock %}